[Desktop Entry]
Type=Application
Name=Southstar Browser
GenericName=Web Browser
Comment=A small, hand-written web browser
Exec=southstar %U
Icon=southstar
Terminal=false
StartupWMClass=org.southstar.WebBrowser
Categories=Network;WebBrowser;
MimeType=text/html;application/xhtml+xml;x-scheme-handler/http;x-scheme-handler/https;
StartupNotify=true
